<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngbin.mapper.MovieMapper">

    <select id="findAll" resultType="HashMap">
        select * from movie order by movie_score desc
	</select>

    <select id="findByName" parameterType="String" resultType="com.youngbin.domain.Movie">
        select * from movie where movie_title LIKE CONCAT('%', #{movieName}, '%')
    </select>

    <delete id="deleteAll">
        delete from movie
    </delete>

    <insert id="insert">
        insert into movie(movie_id, movie_title, movie_image_source, movie_score, opening_date, reservation_link, is_opened) values(#{movieId}, #{movieTitle}, #{movieImageSource}, #{movieScore}, #{openingDate}, #{reservationLink}, #{isOpened})
    </insert>

</mapper>